/bower_components/**/.*
/bower_components/**/*.map
/bower_components/**/*.md
/bower_components/**/bower.json
/bower_components/**/LICENSE
/bower_components/microplugin
/bower_components/sifter
/bower_components/selectize/*
!/bower_components/selectize/dist
/bower_components/selectize/dist/less
/bower_components/momentjs/*
!/bower_components/momentjs/min
/bower_components/momentjs/min/*
!/bower_components/momentjs/min/moment.min.js
/bower_components/jquery/*
!/bower_components/jquery/dist
/bower_components/deepmerge/*
!/bower_components/deepmerge/index.js
/bower_components/awesome-bootstrap-checkbox/*
!/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css
